* {
	transition: .5s;
}

body {
	padding: 0;
	width: 1000px;
	height: 580px;

	font-family: 'Exo 2', sans-serif;

	background: url(img/bg.jpg);
	margin: 0;

	color: #847975;
}

.map {
	width: 1000px;
	height: 580px;
}

.map svg {
	position: relative;
	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%) scale(1.3);
}

.map-tree, .map-mountain, .map-text {
	pointer-events: none;
	fill: transparent;
}

.map-item:hover {
	fill: #E4EBCB!important;
	cursor: pointer!important;
}

.map-blocked-item {
	fill: transparent;
}

.player-info {
	border: 1px solid #C6C5B9;
	background-color: #F5F3E7;
	border-radius: 3px;

	width: 300px;
	height: 79px;

	position: fixed;
	left: 10px;
	top: 10px;
	padding: 8px 10px;
}

.player-info-r {
	border: 1px solid #C6C5B9;
	background-color: #F5F3E7;
	border-radius: 3px;

	width: 300px;
	height: 79px;
	
	position: fixed;
	right: 10px;
	top: 10px;
	padding: 8px 10px;
}

.player-info .name, .player-info-r .name {
	color: #847975;
	font-weight: 600;
}

.player-info-r .name {
	width: 100%;
	text-align: right;
}

.player-info .container, .player-info-r .container {
	display: flex;
	margin-top: 10px;
}

.player-info .container .type, .player-info-r .container .type {
	width: 45px;
	margin-right: 10px;
}

.player-info .container .type img, .player-info-r .container .type img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.player-info-r .container .type {
	margin-right: 0;
	margin-left: 10px;
}

.player-info .container .info, .player-info-r .container .info {
	width: 240px;
}

.progress-back {
	height: 20px;
	width: 240px;
	border-radius: 3px;
	background-color: #CFCFCF;
	text-align: center;
	color: #fff;
	font-size: 10px;
	line-height: 20px;
}

.progress-health {
	width: 60%;
	height: 20px;
	margin-top: -20px;
	background-color: #E3433C;
	border-radius: 3px;
}

.progress-mana {
	width: 30%;
	height: 20px;
	margin-top: -20px!important;
	background-color: #398FC0;
	border-radius: 3px;
}

.buttons .block, .buttons .block-tutorial {
	width: 57px;
	height: 50px;
	border: 1px solid #C6C5B9;
	background-color: #F5F3E7;
	border-radius: 3px;

	display: flex;
	text-align: center;
}

.buttons .block .key, .buttons .block-tutorial .key {
	position: relative;
	left: 3px;
	top: 0px;
	font-size: 14px;
	font-weight: 700;
	color: #847975;
}

.buttons .block img, .buttons .block-tutorial img {
	width: 35px;
	height: 35px;
	position: relative;
	left: -5px;

	margin: 7px;
}

.buttons .block:hover, .buttons .block-tutorial:hover {
	cursor: pointer;
	background-color: #E3EDC5;
}

.buttons .block:nth-of-type(1){position: fixed;bottom: 10px;left: 10px;z-index: 2;}
.buttons .block:nth-of-type(2){position: fixed;bottom: 10px;left: 300px;}
.buttons .block:nth-of-type(3){position: fixed;bottom: 10px;left: 356px;}
.buttons .block:nth-of-type(4){position: fixed;bottom: 10px;left: 412px;}
.buttons .block:nth-of-type(5){position: fixed;bottom: 10px;left: 467px;}
.buttons .block:nth-of-type(6){position: fixed;bottom: 10px;left: 523px;}
.buttons .block:nth-of-type(7){position: fixed;bottom: 10px;left: 579px;}
.buttons .block:nth-of-type(8){position: fixed;bottom: 10px;left: 750px;}
.buttons .block:nth-of-type(9){position: fixed;bottom: 10px;left: 806px;}
.buttons .block:nth-of-type(10){position: fixed;bottom: 10px;left: 862px;}
.buttons .block:nth-of-type(11){position: fixed;bottom: 10px;right: 10px;}

.buttons .block-tutorial:nth-of-type(1){position: fixed;bottom: 10px;left: 10px;z-index: 2;}
.buttons .block-tutorial:nth-of-type(2){position: fixed;bottom: 10px;left: 300px;}
.buttons .block-tutorial:nth-of-type(3){position: fixed;bottom: 10px;left: 356px;}
.buttons .block-tutorial:nth-of-type(4){position: fixed;bottom: 10px;left: 412px;}
.buttons .block-tutorial:nth-of-type(5){position: fixed;bottom: 10px;left: 467px;}
.buttons .block-tutorial:nth-of-type(6){position: fixed;bottom: 10px;left: 523px;}
.buttons .block-tutorial:nth-of-type(7){position: fixed;bottom: 10px;left: 579px;}
.buttons .block-tutorial:nth-of-type(8){position: fixed;bottom: 10px;left: 750px;}
.buttons .block-tutorial:nth-of-type(9){position: fixed;bottom: 10px;left: 806px;}
.buttons .block-tutorial:nth-of-type(10){position: fixed;bottom: 10px;left: 862px;}
.buttons .block-tutorial:nth-of-type(11){position: fixed;bottom: 10px;right: 10px;}

.heroes, .heroes-tutorial {
	position: fixed;
	left: -100px;
	bottom: -3px;

	border: 1px solid #C6C5B9;
	background-color: #F5F3E7;
	border-radius: 3px;
	height: 443px;
	width: 253px;

	opacity: 0;
	pointer-events: none;
}

.heroes .info, .heroes-tutorial .info {
	position: fixed;
	left: 0px;
	bottom: 10px;

	font-size: 14px;
	opacity: 0;
}

.heroes .info b, .heroes-tutorial .info b {
	font-size: 16px;
	font-weight: 600;
}

.heroes .content, .heroes-tutorial .content {
	height: 360px;
	margin: 10px;
	padding-right: 10px;

	overflow-y: auto;
}

.heroes .item, .heroes-tutorial .item {
	display: flex;
	font-size: 14px;
}

.heroes .item .image, .heroes-tutorial .item .image {
	width: 68px;
	height: 54px;
}

.heroes .item .image img, .heroes-tutorial .item .image img {
	width: 59px;
	height: 52px;
	border: 1px solid #C6C5B9;
	border-radius: 3px;
}

.heroes .item b, .heroes-tutorial .item b {
	font-size: 16px;
	font-weight: 600;
}

.heroes .item .body, .heroes-tutorial .item .body {
	width: 100%;
	margin-left: 7px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #C6C5B9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #847975; 
}

.heroes .item, .heroes-tutorial .item {
	margin-bottom: 5px;
}

.heroes .item:hover, .heroes-tutorial .item:hover {
	cursor: pointer;
	background-color: #c6c5b94a;
}

.heroes .item .chose, .heroes-tutorial .item .chose {
	width: 100%;
}

.heroes .item .chose span, .heroes-tutorial .item .chose span {
	opacity: 0;
}

.heroes .item:hover .chose span, .heroes-tutorial .item:hover .chose span {
	opacity: 1;
}

.wy-tooltip {
	border: 1px solid #AEAB9E;
	background: #FFFFFE;
	position: fixed;
	padding: 10px;
	text-align: left;
	border-radius: 3px;
	max-width: 300px;
}
.wy-hide { display: none; }

.wy-tooltip b, .message b {
	font-weight: 700;
	font-size: 20px;
}

.wy-tooltip p, .message p {
	margin: 0;
	font-size: 14px;
}

.wy-tooltip .danger, .message .danger {
	color: #fe1f2d!important;
	font-weight: 600;
}

.wy-tooltip .red, .message .red {
	color: #a62a17!important;
	font-weight: 600;
}

.wy-tooltip .success, .message .success {
	color: #48bf51!important;
	font-weight: 600;
}

.wy-tooltip .primary, .message .primary {
	color: #0e97e8!important;
	font-weight: 600;
}

.hero-stats, .hero-stats-tutorial {
	position: fixed;
	top: 120px;
	left: -300px;

	border: 1px solid #C6C5B9;
	background-color: #F5F3E7;
	border-radius: 3px;
	height: 400px;
	width: 220px;
	padding: 10px;
}

.hero-stats .header, .hero-stats-tutorial .header {
	height: 63px;
}

.hero-stats .header div:nth-of-type(1), .hero-stats-tutorial .header div:nth-of-type(1){
	font-weight: 900;
	line-height: 22px;
}

.hero-stats .header div:nth-of-type(2), .hero-stats-tutorial .header div:nth-of-type(2){
	line-height: 22px;
}

.hero-stats .header div:nth-of-type(3), .hero-stats-tutorial .header div:nth-of-type(3){
	line-height: 22px;
}

.hero-stats .header .rare, .hero-stats-tutorial .header .rare {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojMEU5OEU4OyIgLz48c3RvcCBvZmZzZXQ9Ijk5JSIgc3R5bGU9InN0b3AtY29sb3I6I0I2NDhDQzsiIC8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgZmlsbD0idXJsKCNncmFkaWVudCkiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIC8+PC9zdmc+);
	background-image: -webkit-gradient(linear, left top, 90deg, color-stop(0%, #0E98E8), color-stop(99%, #B648CC));
	background-image: -moz-linear-gradient(90deg,#0E98E8 0%,#B648CC 99%);
	background-image: -webkit-linear-gradient(90deg,#0E98E8 0%,#B648CC 99%);
	background-image: -o-linear-gradient(90deg,#0E98E8 0%,#B648CC 99%);
	background-image: -ms-linear-gradient(90deg,#0E98E8 0%,#B648CC 99%);
	background-image: linear-gradient(90deg,#0E98E8 0%,#B648CC 99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position:relative;
	display:inline-block; /*required*/
}

.close-button {
	padding: 5px 7px;
	border-radius: 1px;
	padding-top: 0px;
	background-color: #F5F3E7;
	font-weight: 500;
	border: 1px solid #C6C5B9;
}

.close-button:hover {
	cursor: pointer;

	background-color: #C6C5B9;
	color: #F5F3E7;
}

hr {
	border: none;
	border-top: 1px solid #DFDDD0;
}

.hero-stats .stats .stat, #menu .left .stat, .hero-stats-tutorial .stats .stat-tutorial {
	clear: both;
	height: 25px;
	font-size: 14px;
	line-height: 25px;
	padding: 0 7px;
	clear: both;
	border-radius: 3px;
}

.hero-stats .stats .stat:nth-of-type(odd), #menu .left .stat:nth-of-type(odd), .hero-stats-tutorial .stats .stat-tutorial:nth-of-type(odd){
	background-color: #E8E6D9;
}

.hero-stats .stats .stat div:nth-of-type(1), #menu .left .stat div:nth-of-type(1), .hero-stats-tutorial .stats .stat-tutorial div:nth-of-type(1){
	float:left;
}

.hero-stats .stats .stat div:nth-of-type(2), #menu .left .stat div:nth-of-type(2), .hero-stats-tutorial .stats .stat-tutorial div:nth-of-type(2){
	float:right;
}

#game {
	display: none;
}

.left {
	width: 60%;
	margin: 50px;
}

.right {
	width: 40%;
}

#games-list .left { width: 70%; }
#games-list .right { width: 30%; }

#menu .right .logo {
	height: 150px;
	margin-top: 50px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	pointer-events: none;
}

#menu .right .menu {
	margin-left: 105px;
	margin-top: -20px;
}

#menu .right .menu img {
	height: 60px;
	display: block;

	margin-top: -17px;
}

#menu .right .menu img:hover {
	cursor: pointer;
}

#menu .right .menu img:nth-of-type(odd){
	margin-left: 25px;
}

#menu .right .menu img:nth-of-type(1){
	margin-top: 0;
	margin-left: 25px;
	margin-bottom: -17px;
}

#menu .right .menu img:nth-of-type(2){
	margin: none;
}

.left .block, .right .block {
	border: 1px solid #C6C5B9;
	background-color: #F5F3E7;
	border-radius: 3px;
	padding: 8px 10px;
}

.clearfix {
	text-align: center;
	clear: both;

}

#menu .left .tournaments {
	height: 100%;
	text-align: center;
	opacity: .4;
}

.blocked .key, .blocked img {
	opacity: .15;
	pointer-events: none;
}

.timer {
	opacity: 0;
	color: #D06440;
	position: absolute;
	font-size: 22px;
	font-weight: 900;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.blocked .timer {
	opacity: 1!important;
}

#game-search .left { width: 44%; margin: 0; height: 580px; margin-left: 50px; margin-right: -25px; z-index:100;}
#game-search .right { position: fixed; width:50%; margin: 0; height: 580px; right: 50px; z-index: 99; text-align: center;}

#game-search .left .block, #game-search .right .block {
	top: 50%;
	position: relative;
	transform: translateY(-50%);	
}

#game-search .right .block {
	padding: 100px;
}

#game-search .left .block {
	display: flex;
	padding: 15px;
}

#game-search .left .block #find-text { text-align: center; line-height: 100px; width: 100%; }

#game, #game-search { display: none; }
#menu { display: none; }
#tutorial { display: none;  }

.judge {
	width: 1000px;
	height: 580px;
	position: fixed;
	background-color: rgba(235, 219, 183, .85);
	justify-content: center;
	pointer-events: none;
}

.judge-content {
	width: 600px;
	height: 200px;
	position: fixed;
	left: 500px;
	top: 290px;
	display: flex;
	transform: translate(-50%,-50%);

	opacity: .9;
}

.judge-content .left { width: 10%; }
.judge-content .left img {
	top: 0;
	animation: pulse 3s infinite;
	animation-direction: alternate;
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

.judge-content .right { width: 80%; }

#tutorial .block {
	border: 1px solid #C6C5B9;
	background-color: #F5F3E7;
	border-radius: 3px;
	padding: 8px 10px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3) rotate(-10deg);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3) rotate(-10deg);
  }
  100% {
    transform: scale(1);
  }
}

.typed_wrap {
	display: block;
	width: 290px;
	height: auto;
	margin: none;
	padding: none;
}